.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.upload-container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    max-width: 100%;
}

.upload-form input[type="file"] {
    margin-bottom: 10px;
}

.upload-form input[type="file"]::-webkit-file-upload-button {
    background-color: #713200;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.upload-form input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #552b00;
}

.upload-form input[type="file"]::-webkit-file-upload-button:active {
    background-color: #8b4200;
}

.upload-form input[type="file"]::-webkit-file-upload-button:focus {
    outline: none;
}


.upload-form button:hover {
    background-color: #552b00;
}

.upload-form button:active {
    background-color: #8b4200;
}

.upload-form button:focus {
    outline: none;
}

#myPopup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}